/* Font Size */
/* Title Font Sise */
/* Sub Title Font Size */
/* ? !== <==>Css Reset<==> !== */
* {
  margin: 0;
  padding: 0;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

a,
button {
  color: inherit;
  text-decoration: inherit;
}

img {
  width: 100%;
  height: 100%;
}

body {
  color: aqua;
  font-family: sans-serif;
  background-color: #18252b;
  scroll-behavior: auto !important;
}

/* * ===Class Universal=== * */
.neurlight {
  border-radius: 8px;
  background-color: #18252b;
  border: 2px solid #66ef4b;
  box-shadow: -20px 20px 39px #121c21, 20px -20px 39px #1e2e35;
}

/* todo !== ==>Boostrap Custom<== !== */
.container-fluid {
  padding-left: 5%;
  padding-right: 5%;
}

.side {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.title-page {
  position: absolute;
  top: -10px;
  padding-top: 10px;
  text-align: center;
  color: #18252b;
  background-color: #66ef4b;
  font-weight: 600;
  border-radius: 8px;
}

/* ? !== <==>Navbar<==> !== */
.navbar {
  position: fixed;
  bottom: 0px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 0;
  z-index: 1000;
  /* ? !== <==>Navbar<==> !== */
}
.navbar .nav-second {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  max-width: 400px;
  min-height: 40px;
  padding-bottom: 10px;
  background-color: #66ef4b;
  border-radius: 5px 5px 0 0;
}
.navbar .navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 60px;
  background: #66ef4b;
  border-radius: 10px;
}
.navbar .navigation ul {
  display: flex;
  width: 350px;
}
.navbar .navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 60px;
  z-index: 2;
}
.navbar .navigation ul li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  color: #00092c;
}
.navbar .navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 65px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: #18252b;
}
.navbar .navigation ul li.active a .icon {
  transform: translateY(-32px);
  color: #18252b;
}
.navbar .navigation ul li a .text {
  position: absolute;
  color: #18252b;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  padding: 2px 7px;
  opacity: 0;
  transform: translateY(20px);
}
.navbar .navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}
.navbar .indicator {
  position: absolute;
  top: -35%;
  width: 70px;
  height: 70px;
  background-color: #66ef4b;
  border-radius: 50%;
  transition: 0.5s;
  z-index: 1;
}
.navbar .indicator::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -28px;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 15px 18px #fff;
}
.navbar .indicator::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -28px;
  width: 20px;
  height: 20px;
  background: transparent;
  box-shadow: -15px 18px #fff;
}
.navbar .navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateX(0px);
}
.navbar .navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(70px);
}
.navbar .navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(140px);
}
.navbar .navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(210px);
}
.navbar .navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(280px);
}

/* ? !== <==>Home / Jumbotron<==> !== */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  overflow: auto;
}
.home .side-left {
  box-sizing: border-box;
}
.home .side-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .title {
  font-size: 64px;
}
.home .sub-title {
  font-size: 36px;
  margin: 0;
}
.home .highlight {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: #18252b;
  font-size: 0.6em;
  font-weight: bold;
  background-color: #66ef4b;
  border-radius: 24px;
  padding: 0 20px;
  margin-left: 10px;
}
.home .content {
  width: 100%;
  height: 100%;
  padding: 25px;
}
.home .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0px;
  width: 300px;
  height: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50%;
}
.home .hero .box {
  min-height: 50px;
  background-color: transparent;
}

/* ? !== <==>About Me<==> !== */
.about-me {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
.about-me .side {
  position: relative;
}
.about-me .container {
  cursor: pointer;
  position: absolute;
  top: 13%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 50%;
  margin-top: 50px;
  overflow: auto;
}
.about-me .container > div {
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background-color: transparent;
  padding: 5px;
  box-shadow: none;
  box-sizing: border-box;
}
.about-me .container > div div {
  white-space: nowrap;
  padding: 3px 8px;
  border-radius: 5px;
}
.about-me .container > div .active {
  color: #18252b;
  background-color: #66ef4b;
}
.about-me .content {
  min-height: 150px;
  padding: 10px 15px;
  color: aqua;
}

/* ? !== <==>Skills<==> !== */
.skills {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
.skills .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills .slider-custom {
  position: relative;
}
.skills .slider-custom .slides {
  position: relative;
  top: 0;
  background-color: #aaa;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.skills .slider-custom .container-gear {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
}
.skills .slider-custom .container-gear .gear {
  position: absolute;
  animation: spin 80s linear infinite;
  z-index: 1;
}
.skills .slider-custom .container-gear .slide {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 2;
}
.skills .slider-custom img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background-size: contain;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ? !== <==>Contact<==> !== */
.contact {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
.contact .container {
  max-width: 700px;
  min-height: 300px;
  padding: 20px 10px;
}
.contact .form {
  display: flex;
  flex-wrap: wrap;
}
.contact .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.contact .box > label {
  width: 90%;
  height: 25px;
  text-align: center;
  color: #18252b;
  font-weight: bold;
  background-color: #66ef4b;
  border-top: 2px solid #66ef4b;
  border-left: 2px solid #66ef4b;
  border-right: 2px solid #66ef4b;
  border-radius: 8px 8px 0 0;
}
.contact .box > input,
.contact .box > textarea {
  width: 90%;
  height: 35px;
  color: #66ef4b;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: #18252b;
  padding: 10px;
  border: 2px solid #66ef4b;
  outline: none;
  border-radius: 0 0 8px 8px;
}
.contact .box textarea {
  min-height: 100px;
  max-height: 150px;
}
.contact .box textarea::-webkit-scrollbar {
  display: none;
}
.contact .box .box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 125px;
  border-radius: 8px;
  border: 2px solid #66ef4b;
}
.contact .box button {
  width: 100px;
  height: 50px;
  color: #18252b;
  font-weight: bold;
  border-radius: 8px;
  background-color: #66ef4b;
  margin: auto;
  border: 2px solid #66ef4b;
}

/* ? !== <==>Footer<==> !== */
.footer {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding: 20px;
}
.footer .second-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 50px;
  border-radius: 8px;
  border: 2px solid #66ef4b;
}
.footer .dropup {
  width: 15%;
  height: 100%;
  position: relative;
  display: inline-block;
}
.footer .dropbtn {
  width: 100%;
  height: 100%;
  color: #18252b;
  font-size: 16px;
  font-weight: bold;
  background-color: #66ef4b;
  border: none;
  border-radius: 5px 0 0 5px;
}
.footer .dropbtn img {
  width: 25px;
  height: 25px;
}
.footer .dropup-content {
  display: none;
  position: absolute;
  bottom: 45px;
  min-width: 160px;
  background-color: #66ef4b;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.footer .dropup-content button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  color: black;
  text-decoration: none;
  font-weight: 600;
  background-color: #66ef4b;
  border: none;
  padding: 12px 16px;
  transition: 0.3s;
}
.footer .dropup-content button > i {
  width: 15%;
  height: 100%;
  font-size: 20px;
  transition: 0.3s;
}
.footer .dropup-content button p {
  width: 85%;
  height: 100%;
  margin: 0;
}
.footer .site-link i {
  font-size: 20px;
}
.footer .dropup-content button:active {
  letter-spacing: 2px;
}
.footer .dropup-content button:hover {
  color: #66ef4b;
  letter-spacing: 1.1px;
  background-color: #18252b;
  padding: 12px 12px;
  border-radius: 8px;
}
.footer .dropup:hover .dropup-content {
  display: block;
  border: 2px solid #66ef4b;
}
.footer .dropup:hover .dropbtn {
  background-color: #3eeb1c;
}
.footer .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 100%;
  justify-content: start;
}
.footer .link p {
  width: 72%;
  height: 100%;
  margin: 0;
  padding-left: 10px;
  padding-top: 10px;
  margin-right: 5%;
  overflow: auto;
}
.footer .link p::-webkit-scrollbar {
  display: none;
}
.footer .link .copy,
.footer .link .site-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100%;
}
.footer .link .copy {
  border-right: 2px solid #66ef4b;
  border-left: 2px solid #66ef4b;
}
.footer .link .copy {
  color: #18252b;
  background-color: #66ef4b;
  transition: 0.2s;
}
.footer .link .copy svg {
  width: 20px;
  height: 20px;
  color: black;
  transition: 0.2s;
}
.footer .link .copy:active {
  background-color: #18252b;
}
.footer .link .copy:active svg {
  color: #66ef4b;
}
.footer .link .site-link {
  color: #66ef4b;
}
.footer .link .site-link:active {
  color: #18252b;
  background-color: #66ef4b;
}/*# sourceMappingURL=main.css.map */