/* Font Size */
/* Title Font Sise */
/* Sub Title Font Size */
/* ? !== <==>Css Reset<==> !== */
* {
  margin: 0;
  padding: 0;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

a,
button {
  color: inherit;
  text-decoration: inherit;
}

img {
  width: 100%;
  height: 100%;
}

body {
  color: aqua;
  font-family: sans-serif;
  background-color: #18252b;
  scroll-behavior: auto !important;
}

/* * ===Class Universal=== * */
.neurlight {
  border-radius: 8px;
  background-color: #18252b;
  border: 2px solid #66ef4b;
  box-shadow: -20px 20px 39px #121c21, 20px -20px 39px #1e2e35;
}

/* todo !== ==>Boostrap Custom<== !== */
.container-fluid {
  padding-left: 5%;
  padding-right: 5%;
}

.side {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.title-page {
  position: absolute;
  top: -10px;
  padding-top: 10px;
  text-align: center;
  color: #18252b;
  background-color: #66ef4b;
  font-weight: 600;
  border-radius: 8px;
}

/* ? !== <==>Navbar<==> !== */
.navbar {
  position: fixed;
  bottom: 0px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 0;
  z-index: 1000;
}
.navbar .nav-second {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  max-width: 400px;
  min-height: 40px;
  padding-bottom: 10px;
  background-color: #66ef4b;
  border-radius: 5px 5px 0 0;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 0;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0;
}
.navbar ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #18252b;
  border-radius: 50%;
}
.navbar ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-style: none;
  text-decoration: none;
  color: #66ef4b;
}
.navbar ul li img {
  width: 20px;
  height: 20px;
}
.navbar [href="#home"],
.navbar [href="#about-me"],
.navbar [href="#skills"],
.navbar [href="#contact"],
.navbar [href="#footer"] {
  box-sizing: border-box;
}

/* ? !== <==>Home / Jumbotron<==> !== */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  overflow: auto;
}
.home .side-left {
  box-sizing: border-box;
}
.home .side-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .title {
  font-size: 64px;
}
.home .sub-title {
  font-size: 36px;
  margin: 0;
}
.home .highlight {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: #18252b;
  font-size: 0.6em;
  font-weight: bold;
  background-color: #66ef4b;
  border-radius: 24px;
  padding: 0 20px;
  margin-left: 10px;
}
.home .content {
  width: 100%;
  height: 100%;
  padding: 25px;
}
.home .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0px;
  width: 300px;
  height: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50%;
}
.home .hero .box {
  min-height: 50px;
  background-color: transparent;
}

/* ? !== <==>About Me<==> !== */
.about-me {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
.about-me .side {
  position: relative;
}
.about-me .container {
  position: absolute;
  top: 13%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 50%;
  margin-top: 50px;
  overflow: scroll;
}
.about-me .container > div {
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background-color: transparent;
  padding: 5px;
  box-shadow: none;
  box-sizing: border-box;
}
.about-me .container > div div {
  white-space: nowrap;
  padding: 3px 8px;
  border-radius: 5px;
}
.about-me .container > div .active {
  color: #18252b;
  background-color: #66ef4b;
}
.about-me .content {
  min-height: 150px;
  padding: 10px 15px;
  color: aqua;
}

/* ? !== <==>Skills<==> !== */
.skills {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
.skills .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills .slider-custom {
  position: relative;
}
.skills .slider-custom .slides {
  position: relative;
  top: 0;
  background-color: #aaa;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.skills .slider-custom .container-gear {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
}
.skills .slider-custom .container-gear .gear {
  position: absolute;
  animation: spin 80s linear infinite;
  z-index: 1;
}
.skills .slider-custom .container-gear .slide {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 2;
}
.skills .slider-custom img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background-size: contain;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* ? !== <==>Contact<==> !== */
.contact {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
.contact .container {
  max-width: 700px;
  min-height: 300px;
  padding: 20px 10px;
}
.contact .form {
  display: flex;
  flex-wrap: wrap;
}
.contact .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.contact .box > label {
  width: 90%;
  height: 25px;
  text-align: center;
  color: #18252b;
  font-weight: bold;
  background-color: #66ef4b;
  border-top: 2px solid #66ef4b;
  border-left: 2px solid #66ef4b;
  border-right: 2px solid #66ef4b;
  border-radius: 8px 8px 0 0;
}
.contact .box > input,
.contact .box > textarea {
  width: 90%;
  height: 35px;
  color: #66ef4b;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: #18252b;
  padding: 10px;
  border: 2px solid #66ef4b;
  outline: none;
  border-radius: 0 0 8px 8px;
}
.contact .box textarea {
  min-height: 100px;
  max-height: 150px;
}
.contact .box textarea::-webkit-scrollbar {
  display: none;
}
.contact .box .box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 125px;
  border-radius: 8px;
  border: 2px solid #66ef4b;
}
.contact .box button {
  width: 100px;
  height: 50px;
  color: #18252b;
  font-weight: bold;
  border-radius: 8px;
  background-color: #66ef4b;
  margin: auto;
  border: 2px solid #66ef4b;
}

/* ? !== <==>Footer<==> !== */
.footer {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding: 20px;
}
.footer .second-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  border: 2px solid #66ef4b;
}
.footer .second-container .icon {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 30%;
  height: 50px;
}
.footer .second-container .icon > p {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: 1px solid blue;
}
.footer .second-container .link {
  width: 75%;
  height: 50px;
  padding: 10px;
  border-left: 2px solid aqua;
}
.footer .dropup {
  width: 25%;
  position: relative;
  display: inline-block;
}
.footer .dropbtn {
  width: 100%;
  background-color: #3498db;
  color: #18252b;
  background-color: #66ef4b;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.footer .dropup-content {
  display: none;
  position: absolute;
  bottom: 50px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.footer .dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.footer .dropup-content a:hover {
  background-color: #ddd;
}
.footer .dropup:hover .dropup-content {
  display: block;
}
.footer .dropup:hover .dropbtn {
  background-color: #2980b9;
}/*# sourceMappingURL=main.css.map */