@use "../abstracts" as *;

/* ? !== <==>About Me<==> !== */
.about-me {
   min-height: 100vh;
   max-height: 100vh;
   overflow: hidden;

   .side {
      position: relative;
   }

   .container {
      cursor: pointer;
      position: absolute;
      top: 13%;
      z-index: 100;
      @include flexCenter();
      flex-wrap: wrap;
      gap: 10px;

      max-width: 50%;
      margin-top: 50px;
      overflow: auto;

      > div {
         top: 0;
         left: 0;
         bottom: 0;
         z-index: 1000;

         background-color: transparent;
         padding: 5px;
         border: 2px solid $secondColor;
         border-radius: 8px;
         box-shadow: none;
         box-sizing: border-box;

         div {
            position: relative;

            white-space: nowrap;
            padding: 3px 8px;
            border-radius: 5px;
         }

         .button.active::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            background-color: transparent;
            border: 2px solid $secondColor;
            border-radius: 8px;
            animation: glowEffect 0.5s infinite;
         }

         .active {
            color: $primaryColor;
            background-color: $secondColor;
         }
      }
   }

   .content-selected {
      min-height: 150px;
      padding: 10px 15px;
      color: $textColor;
   }
}

@keyframes glowEffect {
   0% {
   }
   100% {
      top: -7px;
      right: -7px;
      bottom: -7px;
      left: -7px;
   }
}
