@use "../abstracts" as *;

/* ? !== <==>Contact<==> !== */
.contact {
   @include flexCenter();

   min-width: 95vw;
   min-height: 100vh;
   max-height: 100vh;
   overflow: auto;

   &::-webkit-scrollbar {
      display: none;
   }

   .container {
      max-width: 700px;
      padding: 100px 0 200px 0;
   }

   .neurlight {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   }

   h2 {
      width: max-content;
      text-align: center;
      font-size: 28px;
      margin: 30px 0 20px;
      border-bottom: 2px solid $secondColor;
   }

   .form {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;

      min-height: max-content;
      margin-bottom: 40px;
   }

   .box {
      @include flexCenter();
      flex-direction: column;

      // margin-bottom: 20px;

      > label {
         width: 90%;
         height: 25px;
         text-align: center;
         color: $primaryColor;
         font-weight: bold;
         background-color: $secondColor;
         border-top: 2px solid $secondColor;
         border-left: 2px solid $secondColor;
         border-right: 2px solid $secondColor;
         border-radius: 8px 8px 0 0;
      }

      > input,
      > textarea {
         width: 90%;
         height: 35px;
         color: $textColor;
         font-size: 14px;
         letter-spacing: 1px;
         background-color: $primaryColor;
         padding: 10px;
         border: 2px solid $secondColor;
         outline: none;
         border-radius: 0 0 8px 8px;
      }

      textarea {
         min-height: 100px;
         max-height: 150px;

         &::-webkit-scrollbar {
            display: none;
         }
      }

      .box2 {
         @include flexCenter();

         width: 90%;
         height: 125px;
         border-radius: 8px;
         border: 2px solid $secondColor;
      }

      button {
         width: 100px;
         height: 50px;
         color: $primaryColor;
         font-weight: bold;
         border-radius: 8px;
         background-color: $secondColor;
         margin: auto;
         border: 2px solid $secondColor;
      }
   }

   // * ==================>> Soosmed <<===================
   .sosmed {
      @include flexCenter();

      margin-top: 100px;
      padding-top: 0;

      .container {
         @include flexCenter();
         justify-content: space-around;
         flex-direction: column;

         width: 100%;
         height: max-content;
         padding: 0 30px 20px;
         border: 2px solid $secondColor;

         h2 {
            color: $textColor;
            font-size: 28px;
            margin: 30px 0 25px;
            border-bottom: 2px solid $secondColor;
         }
      }

      .second-container {
         @include flexCenter();

         width: 95%;
         height: 50px;
         border-radius: 8px;
         border: 2px solid $secondColor;
      }

      // * ==>> Button Dropup <===
      .dropup {
         width: 15%;
         height: 100%;
         position: relative;
         display: inline-block;
      }

      .dropbtn {
         width: 100%;
         height: 100%;
         color: $primaryColor;
         font-size: 16px;
         font-weight: bold;
         background-color: $secondColor;
         border: none;
         border-radius: 5px 0 0 5px;

         img {
            width: 25px;
            height: 25px;
         }
      }

      .dropup-content {
         display: none;
         position: absolute;
         bottom: 45px;

         min-width: 160px;
         background-color: $secondColor;
         border-radius: 8px;
         box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
         z-index: 1;
      }

      .dropup-content button {
         @include flexCenter();
         flex-wrap: wrap;

         width: 100%;
         color: black;
         text-decoration: none;
         font-weight: 600;
         background-color: $secondColor;
         border: none;
         padding: 12px 16px;
         transition: 0.3s;

         > i {
            width: 15%;
            height: 100%;
            font-size: 20px;
            transition: 0.3s;
         }

         p {
            width: 85%;
            height: 100%;
            margin: 0;
         }
      }

      .site-link {
         i {
            font-size: 20px;
         }
      }

      .dropup-content button:active {
         letter-spacing: 2px;
      }

      .dropup-content button:hover {
         color: $secondColor;
         letter-spacing: 1.1px;
         background-color: $primaryColor;
         padding: 12px 12px;
         border-radius: 8px;
      }

      .dropup:hover .dropup-content {
         display: block;
         border: 2px solid $secondColor;
      }

      .dropup:hover .dropbtn {
         background-color: darken($secondColor, 10%);
      }

      .link {
         @include flexCenter();

         width: 85%;
         height: 100%;
         justify-content: start;

         input {
            width: 72%;
            height: 100%;
            color: $textColor;
            background-color: $primaryColor;
            padding: 0 10px;
            margin: 0;
            border: none;

            &:focus {
               outline: none;
            }
         }

         .copy,
         .site-link {
            @include flexCenter();

            width: 15%;
            height: 100%;
         }

         .copy {
            color: $primaryColor;
            background-color: $secondColor;
            border-right: 2px solid $secondColor;
            border-left: 2px solid $secondColor;
            transition: 0.2s;

            svg {
               width: 20px;
               height: 20px;
               color: black;
               transition: 0.2s;
            }

            &:active {
               background-color: $primaryColor;
            }

            &:active svg {
               color: $secondColor;
            }
         }

         .site-link {
            color: $secondColor;
            // border-left: 2px solid $primaryColor;
            border: 2px solid $primaryColor;
            border-radius: 0 6px 6px 0;

            &:active {
               color: $primaryColor;
               background-color: $secondColor;
            }
         }
      }
   }
}
