@use "../abstracts" as *;

/* ? !== <==>Contact<==> !== */
.contact {
   @include flexCenter();
   flex-direction: column;

   width: auto;
   min-height: 100vh;
   max-height: 100vh;
   overflow: scroll;

   // &::-webkit-scrollbar {
   //    display: none;
   // }

   .container {
      max-width: 700px;
      min-height: 300px;
      padding: 20px 10px;
   }

   .form {
      display: flex;
      flex-wrap: wrap;
   }

   .box {
      @include flexCenter();
      flex-direction: column;

      margin-bottom: 20px;

      > label {
         width: 90%;
         height: 25px;
         text-align: center;
         color: $primaryColor;
         font-weight: bold;
         background-color: $secondColor;
         border-top: 2px solid $secondColor;
         border-left: 2px solid $secondColor;
         border-right: 2px solid $secondColor;
         border-radius: 8px 8px 0 0;
      }

      > input,
      > textarea {
         width: 90%;
         height: 35px;
         color: $textColor;
         font-size: 14px;
         letter-spacing: 1px;
         background-color: $primaryColor;
         padding: 10px;
         border: 2px solid $secondColor;
         outline: none;
         border-radius: 0 0 8px 8px;
      }

      textarea {
         min-height: 100px;
         max-height: 150px;

         &::-webkit-scrollbar {
            display: none;
         }
      }

      .box2 {
         @include flexCenter();

         width: 90%;
         height: 125px;
         border-radius: 8px;
         border: 2px solid $secondColor;
      }

      button {
         width: 100px;
         height: 50px;
         color: $primaryColor;
         font-weight: bold;
         border-radius: 8px;
         background-color: $secondColor;
         margin: auto;
         border: 2px solid $secondColor;
      }
   }

   .side {
      min-height: 1000px;
   }

   .side:nth-child(2) {
      min-height: 1000px;
      background-color: red;
   }
}
