@use "../abstracts" as *;

/* ? !== <==>Navbar<==> !== */
.navbar {
   position: fixed;
   bottom: 0px;
   left: 0;
   @include flexCenter();

   width: 100%;
   margin: auto;
   padding: 0;
   z-index: 1000;

   .nav-second {
      @include flexCenter();

      max-width: 380px;
      max-height: 10px;
      padding-bottom: 10px;
      // background-color: $secondColor;
      background-color: red;
      border-radius: 5px 5px 0 0;
      border: 5px solid red;
   }

   .navigation {
      position: relative;
      @include flexCenter();

      width: 100%;
      min-height: 100%;
      max-height: 100%;
      background: $secondColor;
      border-radius: 10px;
   }

   // testing
   .navigation ul {
      display: flex;
      width: 100%;
      height: 40px;
      padding-left: 1rem;
      padding-right: 1rem;
   }

   .navigation ul li {
      position: relative;

      list-style: none;
      width: 70px;
      height: 60px;
      z-index: 2;
   }

   .navigation ul li a {
      position: relative;
      @include flexCenter();
      flex-direction: column;

      width: 100%;
      text-align: center;
      // font-weight: 500;
      color: #00092c;
   }

   .navigation ul li a .icon {
      position: relative;
      display: block;

      line-height: 65px;
      font-size: 1.5em;
      text-align: center;
      transition: 0.5s;
      color: $primaryColor;
   }

   .navigation ul li.active a .icon {
      transform: translateY(-25px);
      color: $primaryColor;
   }

   .navigation ul li a .text {
      position: absolute;
      color: $primaryColor;
      font-weight: 400;
      font-size: 0.75em;
      letter-spacing: 0.05em;
      transition: 0.5s;
      padding: 2px 7px;
      opacity: 0;
      transform: translateY(20px);
   }

   .navigation ul li.active a .text {
      opacity: 1;
      transform: translateY(10px);
   }

   // .navigation ul li.active .nav-icon {
   //    color: $secondColor;
   // }

   .indicator {
      position: absolute;
      top: -35%;
      width: 70px;
      height: 70px;
      background-color: $secondColor;
      border-radius: 50%;
      transition: 0.5s;
      z-index: 1;
   }

   .indicator::before {
      content: "";
      position: absolute;
      top: -2px;
      left: -24px;
      width: 30px;
      height: 30px;
      background: transparent;
      border-radius: 50%;
      box-shadow: 15px 18px $secondColor;
   }

   .indicator::after {
      content: "";
      position: absolute;
      top: -2px;
      right: -24px;
      width: 30px;
      height: 30px;
      background: transparent;
      border-radius: 50%;
      box-shadow: -15px 18px $secondColor;
   }

   .navigation ul li:nth-child(1).active ~ .indicator {
      transform: translateX(-7px);
   }

   .navigation ul li:nth-child(2).active ~ .indicator {
      transform: translateX(50px);
   }

   .navigation ul li:nth-child(3).active ~ .indicator {
      transform: translateX(125px);
   }

   .navigation ul li:nth-child(4).active ~ .indicator {
      transform: translateX(200px);
   }

   .navigation ul li:nth-child(5).active ~ .indicator {
      transform: translateX(250px);
   }
}
