@use "../abstracts" as *;

/* ? !== <==>Navbar<==> !== */
.navbar {
   position: fixed;
   bottom: 0px;
   left: 0;
   @include flexCenter();

   width: 100%;
   margin: auto;
   padding: 0;
   z-index: 1000;

   .nav-second {
      @include flexCenter();

      min-width: 300px;
      max-width: 400px;
      min-height: 40px;
      padding-bottom: 10px;
      background-color: $secondColor;
      border-radius: 5px 5px 0 0;
   }

   /* ? !== <==>Navbar<==> !== */
   .navigation {
      position: relative;
      @include flexCenter();

      width: 400px;
      height: 60px;
      background: $secondColor;
      border-radius: 10px;
   }

   .navigation ul {
      display: flex;
      width: 350px;
   }

   .navigation ul li {
      position: relative;

      list-style: none;
      width: 70px;
      height: 60px;
      z-index: 2;
   }

   .navigation ul li a {
      position: relative;
      @include flexCenter();
      flex-direction: column;

      width: 100%;
      text-align: center;
      // font-weight: 500;
      color: #00092c;
   }

   .navigation ul li a .icon {
      position: relative;
      display: block;

      line-height: 65px;
      font-size: 1.5em;
      text-align: center;
      transition: 0.5s;
      color: $primaryColor;
   }

   .navigation ul li.active a .icon {
      transform: translateY(-32px);
      color: $primaryColor;
   }

   .navigation ul li a .text {
      position: absolute;
      color: $primaryColor;
      font-weight: 400;
      font-size: 0.75em;
      letter-spacing: 0.05em;
      transition: 0.5s;
      padding: 2px 7px;
      opacity: 0;
      transform: translateY(20px);
   }

   .navigation ul li.active a .text {
      opacity: 1;
      transform: translateY(10px);
   }

   // .navigation ul li.active .nav-icon {
   //    color: $secondColor;
   // }

   .indicator {
      position: absolute;
      top: -35%;
      width: 70px;
      height: 70px;
      background-color: $secondColor;
      border-radius: 50%;
      // border: 6px solid $primaryColor;
      transition: 0.5s;
      z-index: 1;
   }

   .indicator::before {
      content: "";
      position: absolute;
      top: 5px;
      left: -28px;
      width: 30px;
      height: 30px;
      background: transparent;
      border-radius: 50%;
      box-shadow: 15px 18px #fff;
      // border-top-right-radius: 20px;
      // box-shadow: 1px -10px 0 0 $primaryColor;
   }

   .indicator::after {
      content: "";
      position: absolute;
      top: 5px;
      right: -28px;
      width: 20px;
      height: 20px;
      background: transparent;
      box-shadow: -15px 18px #fff;
      // border-top-left-radius: 20px;
      // box-shadow: -1px -10px 0 0 $primaryColor;
   }

   .navigation ul li:nth-child(1).active ~ .indicator {
      transform: translateX(calc(70px * 0));
   }

   .navigation ul li:nth-child(2).active ~ .indicator {
      transform: translateX(calc(70px * 1));
   }

   .navigation ul li:nth-child(3).active ~ .indicator {
      transform: translateX(calc(70px * 2));
   }

   .navigation ul li:nth-child(4).active ~ .indicator {
      transform: translateX(calc(70px * 3));
   }

   .navigation ul li:nth-child(5).active ~ .indicator {
      transform: translateX(calc(70px * 4));
   }
}
