@use "../abstracts" as *;

/* ? !== <==>Footer<==> !== */
.portfolio {
   min-width: 95vw;
   min-height: 100vh;
   max-height: 100vh;
   overflow: auto;

   &::-webkit-scrollbar {
      display: none;
   }

   .side {
      @include flexCenter();

      width: 100%;
   }

   .container {
      display: flex;
      justify-content: start;
      align-items: start;
      flex-direction: column;

      min-width: max-content;
      max-width: 700px;
      height: 100%;
      margin: auto;
      margin-bottom: 20%;
   }

   // * ====>> Tabs Nav <<====
   nav {
      margin-top: 20vh;
      .nav-link {
         @include flexCenter();
         justify-content: end;
         gap: 10px;

         color: $textColor;
         font-weight: bold;
         z-index: 10;
         border: 2px solid transparent;
         overflow: hidden;
         transition: 0.3s ease-in;

         p {
            display: none;
            margin: 0;
            animation: moveUp 1s;
            white-space: nowrap;
            overflow: hidden;
         }

         ion-icon {
            width: 30px;
            color: $secondColor;
            font-weight: bold;
            --ionicon-stroke-width: 40px;
            font-size: 25px;
            // transition: 0.3s ease-in;
         }

         &:nth-child(1) {
            border-radius: 0 8px 0 0;
         }

         &:hover {
            color: $secondColor;
            border: 2px solid $secondColor;
         }
      }
      .nav-link.active {
         color: $primaryColor;
         background-color: $secondColor;
         border: 2px solid transparent;

         ion-icon {
            color: $primaryColor;
         }

         p {
            display: block;
         }
      }
   }

   // * ====>> Content <<====
   .tab-content {
      min-width: 750px;
      max-width: 750px;
      margin-top: -2px;
      padding: 20px 10px 10px 10px;
      border-radius: 0 8px 8px 8px;

      .container-card {
         @include flexCenter();
         justify-content: start;
         flex-wrap: wrap;

         div {
            @include flexCenter();

            padding: 5px;
            margin-bottom: 5px;
         }
      }

      .card {
         position: relative;

         min-width: 330px !important;
         max-width: 330px !important;
         min-height: 200px;
         color: $primaryColor;
         background-color: $secondColor;
         padding: 3px !important;
         overflow: hidden;

         .thumbnail {
            position: absolute;

            min-width: 100%;
            min-height: 100px;
            border-radius: 5px;
            padding: 2px;
         }

         .text-hover,
         .title-project {
            position: absolute;

            text-align: center;
            font-weight: bold;
            padding-top: 5px;
         }

         .title-project {
            left: 2.8px;
            top: -50px;

            width: max-content;
            height: 15%;
            color: $secondColor;
            background-color: $primaryColor;
            padding: 4px 10px 0;
            border-right: 2px solid $secondColor;
            border-bottom: 2px solid $secondColor;
            border-radius: 5px 0 5px 0;
            animation: backTitleProject 0.3s;
         }

         .text-hover {
            position: relative !important;
            left: 0.5px;
            bottom: -150px;

            border-top: 2px solid $secondColor;
            @include flexCenter();
            justify-content: space-between;

            width: 100.5%;
            height: 50px;
            color: $secondColor;
            background-color: $primaryColor;
            border-radius: 0 0 5px 5px;
            animation: backTextHover 1s;

            div {
               z-index: 12;
               @include flexCenter();

               padding-top: 10px;
               margin-top: -26px;
            }

            .project-skill {
               @include flexCenter();

               width: 32px;
               height: 32px;

               font-size: 14px;
               margin: 0;
               margin-right: 5px;
               padding: 0;
               border: 2px solid $secondColor;
               border-radius: 50%;

               img {
                  width: 15px;
                  height: 15px;
               }
            }
         }

         span {
            width: 79%;
            height: 16px;
            background-color: $primaryColor;
            border-top: 2px solid $secondColor;
            // border-radius: 0 5px 0 0;
         }

         .span-skyline {
            position: absolute;
            bottom: 47px;
            left: 0px;
            z-index: 10;

            span {
               position: absolute;
               left: auto;
               right: -6%;
               bottom: -100%;

               width: 24.8px;
               height: 25px;
               transform: rotate(32deg);
            }
         }

         &:hover .text-hover,
         &:hover .title-project {
            color: $secondColor;
            background-color: $primaryColor;
         }

         &:hover .text-hover {
            bottom: -75px;

            animation: textHover 0.7s;
         }

         &:hover .title-project {
            left: 2.8px;
            top: 2.5px;

            animation: titleProject 0.85s;
         }
      }
   }
}

@keyframes moveUp {
   0% {
      height: 0;
   }
   100% {
      height: 100%;
   }
}

@keyframes titleProject {
   0% {
      top: -50px;
   }
   50% {
      top: -50px;
   }
   100% {
      top: 2.8px;
   }
}
@keyframes backTitleProject {
   0% {
      top: 2.5px;
   }
   50% {
      top: 2.5px;
   }
   100% {
      top: -50px;
   }
}

@keyframes toRight {
   0% {
      top: -50px;
   }
   100% {
      top: 2px;
   }
}

@keyframes textHover {
   0% {
      bottom: -150px;
   }
   100% {
      bottom: -75px;
   }
}
@keyframes backTextHover {
   0% {
      bottom: -75px;
   }
   50% {
      bottom: -75px;
   }
   100% {
      bottom: -150px;
   }
}
