@use "../abstracts" as *;

/* ? !== <==>Skills<==> !== */
.skills {
   min-height: 100vh;
   max-height: 100vh;
   overflow: hidden;

   .container {
      @include flexCenter();
   }

   .slider-custom {
      position: relative;

      .slides {
         position: relative;
         top: 0;

         background-color: #aaa;
         user-select: none;
      }

      .container-gear {
         position: relative;
         @include flexCenter();

         width: 400px;
         height: 400px;

         .gear {
            position: absolute;
            animation: spin 80s linear infinite;
            z-index: 1;
         }

         .slide {
            position: absolute;

            width: 100px;
            height: 100px;
            z-index: 2;
         }
      }

      img {
         width: 100%;
         height: 100%;
         vertical-align: middle;
         background-size: contain;
         user-select: none;
      }
   }
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}
