@use "../abstracts" as *;

/* ? !== <==>Skills<==> !== */
.skills {
   min-width: 95vw;
   min-height: 100vh;
   max-height: 100vh;
   overflow: auto;

   .container {
      @include flexCenter();
      border: 2px solid aqua;

      width: max-content;
      max-width: 700px;
      height: 100%;
   }

   .box {
      @include flexCenter();
      align-items: start;
      flex-direction: column;

      min-width: 200px;
      max-width: 200px;
      min-height: max-content;

      div {
         border-left: 2px solid $secondColor;
      }

      img {
         width: 40%;
      }

      p {
         margin: 0;
         padding: 7px 15px;
         border-bottom: 2px solid $secondColor;
      }
   }
}
