// *** *** ==> BG Color <== *** ***
$primaryColor: #18252b;
$secondColor: #66ef4b;
// $tertiaryColor: #???;

// *** *** ==> Font Color <== *** ***
$textColor: aqua;

// *** *** ==> Font Size <== *** ***
$FS: 12px; /* Font Size */
$tFS: 64px; /* Title Font Sise */
$stFS: 36px; /* Sub Title Font Size */
